

<div class=" container jumbotron" style="margin-top: 100px;">
    <h1 class="display-4">{{data.naziv}}</h1>
    <p class="lead">Description: {{data.opis}}</p>
    <hr class="my-4">
    <p>Price: {{ data.cijena }}</p>
    <p>Created by: {{ data.kreator.korisnickoIme }}</p>
    <p>Contact: {{ data.kontakt }}</p>
    <p>Duration: {{ data.trajanje }}</p>
    <p>Difficulty: {{ data.tezina }}</p>
  </div>


  <div class="container">
    <a routerLink="/questions/new-question/{{id}}" class="btn btn-primary">Ask a question</a>
  
    <p class="lead">Questions:</p>
    <div *ngFor="let question of questions">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center disabled">
          Question: {{question.tekst}}
          <div class="row">
            <form (ngSubmit)="addComment(question.id)">
              <input type="text" name="comment" id="{{question.id}}" class="mr-2">
              <button class="btn btn-primary mr-2">Get yourself into conversation</button>
            </form>
          </div>
          
        </li>
        <ul *ngIf="question.odgovori.length > 0" class="list-group-item">
          <li *ngFor="let answer of question.odgovori" class=" list-group-item d-flex justify-content-between align-items-center disabled">
            Answer: {{ answer.odgovor }} by user {{ answer.korisnik.korisnickoIme }}
          </li>

        </ul>
        <li *ngIf="question.odgovor == 0" class="list-group-item">No answer for this question yet!</li>
      </ul>
    </div>
  
  
    <div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="purchaseLabel">Purchase</h4>
              </div>
              <div class="modal-body">
                  sup?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Purchase</button>
              </div>
          </div>
      </div>
  </div>
  </div>


