

<div class="container jumbotron" style="margin-top: 10px;">
    <h1 class="display-4 text-center"><b>Fitness program info</b></h1>
    <h2 class="display-4">{{data.naziv}}</h2>
    <p class="lead">Description: {{data.opis}}</p>
    <hr class="my-4">
    <p>Price: {{ data.cijena }} EURO</p>
    <p *ngIf="data.tezina == 0">Difficulty: Easy</p>
    <p *ngIf="data.tezina == 1">Difficulty: Medium</p>
    <p *ngIf="data.tezina == 2">Difficulty: Hard</p>
    <p>Duration (in days): {{ data.trajanje }}</p>
    <p>Date starting: {{ data.datum }}</p>
    <hr class="my-4 bg-dark">
    <p>Category: {{ data.kategorija.naziv }}</p>
    <div *ngFor="let attribute of data.kategorija.attributes">
      <div class="row mb-2">
        <div class="col-md-6">
          Attribute name: {{ attribute.naziv }}
        </div>
        <div class="col-md-6">
          Attribute value: {{ attribute.vrijednost }}
        </div>
      </div>
    </div>
    <hr class="my-4 bg-dark">
    <p>Location: {{ data.nazivLokacije }}</p>
    <p>Contact: {{ data.kontakt }}</p>
    <p>Created by: <a target="_blank" routerLink="/profile/{{data.kreator.korisnickoIme}}">{{ data.kreator.korisnickoIme }}</a></p>
    <h1 class="display-4 text-center"><b>Instructor info</b></h1>
    <p>First Name: {{ data.instruktorIme }}</p>
    <p>Last Name: {{ data.instruktorPrezime }}</p>
    <p>Years of Experience: {{ data.godineIskustva }}</p>
  </div>


  <div class="container">
    <a *ngIf="this.userId && this.data.aktivan" routerLink="/questions/new-question/{{id}}" class="btn btn-primary">Ask a question</a>
  
    <p *ngIf="this.questions.length > 0" class="lead text-center"><b>Questions and Comments</b></p>
    <div *ngFor="let question of questions">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              Question: {{ question.tekst }} by user &nbsp;
              <a routerLink="/profile/{{ question.user.korisnickoIme }}">{{ question.user.korisnickoIme }}</a>
            </div>
            <div class="d-flex align-items-center">
              <form *ngIf="this.userId && this.data.aktivan" (ngSubmit)="addComment(question.id)" class="w-100">
                <input type="text" name="comment" id="{{ question.id }}" class="w-100 form-control">
                <button type="submit" class="w-100 mt-1 btn btn-primary">Get into conversation</button>
              </form>
            </div>
          </div>
        </li>
    
        <ul *ngIf="question.odgovori.length > 0" class="list-group-item">
          <li *ngFor="let answer of question.odgovori" class="list-group-item">
            Comment: {{ answer.odgovor }} &nbsp;
            <a routerLink="/profile/{{ question.user.korisnickoIme }}">{{ answer.korisnik.korisnickoIme }}</a>
          </li>
        </ul>
    
        <li *ngIf="question.odgovor == 0" class="list-group-item">No answer for this question yet!</li>
      </ul>
    </div>
    
    
    
    <div class="image-gallery">
      <div *ngFor="let url of photoUrls" class="image-item" >
        <img [src]="url" alt="Image">
      </div>
    </div>
    
    <!-- Modal template -->
    <ng-template #modalTemplate>
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <img [src]="selectedImageUrl" alt="Full Image">
          </div>
        </div>
      </div>
    </ng-template>

  
    <div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="purchaseLabel">Purchase</h4>
              </div>
              <div class="modal-body">
                  sup?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Purchase</button>
              </div>
          </div>
      </div>
  </div>

  </div>


