<div class="container">
    <h1 class="text-center mb-4">Journal Data</h1>
    <div style="margin-top: 10px;" class="d-flex justify-content-end mb-3">
        <button class="btn btn-primary btn-lg mr-2" data-bs-toggle="modal" data-bs-target="#enroll">Add New Journal Entry</button>
        <button type="button" class="btn btn-lg btn-primary" (click)="downloadPDF()">Download PDF</button>
    </div>
</div>


<div class="container">
    <canvas class="weight-chart" id="weight-chart"></canvas>
</div>

<div class="container">
    <div *ngFor="let item of data" style="margin-top: 15px;" class="jumbotron jumbotron-fluid">
        <div class="container">
            <button class="btn btn-danger float-right" (click)="deleteEntry(item.id)">Delete Entry</button>
    
            <h1 class="display-4">Journal entry</h1>
            <p class="lead">Exercise name: {{item.vjezba}}</p>
            <p class="lead">Intensity: {{item.intenzitet}}</p>
            <p class="lead">Duration: {{item.trajanje}}</p>
            <p class="lead">Weight after training: {{item.kilaza}}</p>
        </div>
    </div>
</div>

<div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="enrollLabel">Add New Journal Entry</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="lead">New Journal Entry</p>
          <form (ngSubmit)="addJournalEntry()" [formGroup]="firstForm">
            <div class="mb-3">
                <label for="exercise" class="col-form-label">Exercise</label>
                <input formControlName="exercise" id="exercise" type="text" class="form-control" placeholder="Exercise...">

                <div *ngIf="firstForm.get('exercise')?.invalid && (firstForm.get('exercise')?.dirty || firstForm.get('exercise')?.touched)">
                  <!-- Greske -->
                  <small class="text-danger"
                  *ngIf="firstForm.get('exercise')?.hasError('required')"
                  > This field is required
                  </small>
                  <small class="text-danger"
                    *ngIf="firstForm.get('exercise')?.hasError('maxlength')"
                    > Must be less than 45 characters
                  </small>
              </div>

            </div>
            <div class="mb-3">
                <label for="duration" class="col-form-label">Duration</label>
                <input formControlName="duration" id="duration" type="text" class="form-control" placeholder="Duration...">

                <div *ngIf="firstForm.get('duration')?.invalid && (firstForm.get('duration')?.dirty || firstForm.get('duration')?.touched)">
                  <!-- Greske -->
                  <small class="text-danger"
                  *ngIf="firstForm.get('duration')?.hasError('required')"
                  > This field is required
                  </small>
                  <small class="text-danger"
                    *ngIf="firstForm.get('duration')?.hasError('maxlength')"
                    > Must be less than 45 characters
                  </small>
              </div>

            </div>
            <div class="mb-3">
                <label for="intensity" class="col-form-label">Intensity</label>
                <select formControlName="intensity" id="intensity" type="text" class="form-control">
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>

                <div *ngIf="firstForm.get('intensity')?.invalid && (firstForm.get('intensity')?.dirty || firstForm.get('intensity')?.touched)">
                  <!-- Greske -->
                  <small class="text-danger"
                  *ngIf="firstForm.get('intensity')?.hasError('required')"
                  > This field is required
                  </small>
                  <small class="text-danger"
                    *ngIf="firstForm.get('intensity')?.hasError('maxlength')"
                    > Must be less than 45 characters
                  </small>
              </div>
            </div>
            <div class="mb-3">
                <label for="weight" class="col-form-label">Weight</label>
                <input formControlName="weight" id="weight" type="number" class="form-control" placeholder="Weight...">

                <div *ngIf="firstForm.get('weight')?.invalid && (firstForm.get('weight')?.dirty || firstForm.get('weight')?.touched)">
                  <!-- Greske -->
                  <small class="text-danger"
                  *ngIf="firstForm.get('weight')?.hasError('required')"
                  > This field is required
                  </small>
                  <small class="text-danger"
                    *ngIf="firstForm.get('weight')?.hasError('max')"
                    > Must be less than 200
                  </small>
                  <small class="text-danger"
                    *ngIf="firstForm.get('weight')?.hasError('min')"
                    > Must be greater than 10
                  </small>
              </div>


            </div>
            <div class="mb-3">
                <label for="date" class="col-form-label">Date</label>
                <input formControlName="date" id="intensity" type="date" class="form-control" placeholder="Intensity...">

                <div *ngIf="firstForm.get('date')?.invalid && (firstForm.get('date')?.dirty || firstForm.get('date')?.touched)">
                  <!-- Greske -->
                  <small class="text-danger"
                  *ngIf="firstForm.get('date')?.hasError('required')"
                  > This field is required
                  </small>
              </div>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button id="btnclose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            
          </form>
        </div>
        
      </div>
    </div>
  </div>
