<p style="margin-top: 10px;" class="lead" *ngIf="this.message != null">{{message}}</p>
<h1 class="text-center mb-4">Unparticipated Upcoming Fitness Programs</h1>
<div class="container" style="margin-top: 10px;">
  <div class="list-group" >
    <div *ngFor="let item of data" style="z-index: 0;" class="mb-3 list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Name : {{item.naziv}}</h5>
        <small>Date: {{item.datum}}</small>
      </div>
      <p class="mb-1">Description: {{ item.opis }}</p>
      <a class="mb-1" style="color: white;" routerLink="/fitness-programs/{{item.id}}">Learn more -> Click on this link</a>
      <div><small>Price: {{ item.cijena }} EURO</small></div>
      <button (click)="showPart(item)" class="btn btn-success">Buy Program</button>
      <form [formGroup]="firstForm" (ngSubmit)="buyProgram()" *ngIf="selectedItem && selectedItem.id === item.id">
        <div class="form-group">
          <select formControlName="paymentMethod" class="mt-5 form-select">
            <option selected value="Debit card">Debit card</option>
            <option value="Paypal">PayPal</option>
            <option value="Live">Live</option>
          </select>

          <div *ngIf="firstForm.get('paymentMethod')?.invalid && (firstForm.get('paymentMethod')?.dirty || firstForm.get('paymentMethod')?.touched)">
            <!-- Greske -->
            <small class="text-danger"
            *ngIf="firstForm.get('paymentMethod')?.hasError('required')"
            > This field is required
            </small>
            <small class="text-danger"
              *ngIf="firstForm.get('paymentMethod')?.hasError('maxlength')"
              > Must be less than 100 characters
            </small>
          </div>

        </div>
        
        <div class="form-group">
          <label for="payment-value">Payment value</label>
          <input formControlName="paymentValue" type="number" min="0" class="form-control" id="exampleInputPassword1" placeholder="Value...">
          <div *ngIf="firstForm.get('paymentValue')?.invalid && (firstForm.get('paymentValue')?.dirty || firstForm.get('paymentValue')?.touched)">
            <!-- Greske -->
            <small class="text-danger"
            *ngIf="firstForm.get('paymentValue')?.hasError('required')"
            > This field is required
            </small>
            <small class="text-danger"
              *ngIf="firstForm.get('paymentValue')?.hasError('max')"
              > Number must be smaller than 1000000
            </small>
            <small class="text-danger"
              *ngIf="firstForm.get('paymentValue')?.hasError('min')"
              > Number must be greater than 1
            </small>
          </div>
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
      </form>
    </div>
  </div>
</div>


  