
<div class="container">
    <div style="margin-top: 50px;" class="jumbotron">
        <div class="text-center">
            <img src="{{ this.user.avatar }}" alt="No Avatar" class="img-thumbnail" style="width: 150px; height: 150px; border-radius: 50%;">
        </div>
        <h1 class="display-4">Username : {{ this.user.korisnickoIme }}</h1>
        <p class="lead">Name and last name : {{this.user.ime}} {{ this.user.prezime }}</p>
        <hr class="my-4">
        <p class="lead">City : {{this.user.grad}}</p>
        <hr class="my-4">
        <p class="lead">Mail : {{this.user.mail}}</p>
        <p class="lead">
          <a routerLink="/change-profile" class="btn btn-primary btn-lg" routerLink="/change-profile" role="button">Change profile</a>
        </p>
      </div>
</div>

