<p>
    <mat-toolbar color="primary">
      <span>My Application</span>
    
      <div class="spacer">
        <a mat-button href="#">Home</a>
        <a mat-button href="#">About</a>
        <a mat-button href="#">Contact</a>
        
        <!-- Add a responsive menu button for phones -->
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
          <button mat-menu-item>Item 3</button>
        </mat-menu>
  
        <a mat-raised-button color="accent" href="#">Sign In</a>
      </div>
    </mat-toolbar>
  </p>
