<div class="container" style="margin-top: 10px;">
  <h1 class="text-center mb-4">Ended Program Participations</h1>
  <div class="list-group" >
    <div *ngFor="let item of data" style="z-index: 0;" class="mb-3 list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Name : {{item.naziv}}</h5>
        <small>Date: {{item.datum}}</small>
      </div>
      <p class="mb-1">Description: {{ item.opis }}</p>
      <a class="mb-1" style="color: white;" routerLink="/fitness-programs/{{item.id}}">Learn more -> Click on this link</a>
      <small>Price: {{ item.cijena }}</small>
    </div>
  </div>
</div>

