<div id="maindiv" class="d-flex flex-column flex-grow-1 justify-content-center align-items-center" style="height: 40vh;">
    <form [formGroup]="firstForm" (ngSubmit)="makeUser()" style="margin-top: 120px;">

        <div class="row">
            <!-- Personal Information -->
            <div class="col-md-6">
                <div class="form-group text-center">
                    <label for="firstName" class="text-center">First Name*</label>
                    <input formControlName="firstName" type="text" required="required" class="form-control text-center"
                        id="firstName" placeholder="Enter first name">


                        <div *ngIf="firstForm.get('firstName')?.invalid && (firstForm.get('firstName')?.dirty || firstForm.get('firstName')?.touched)">
                            <!-- Greske -->
                            <small class="text-danger"
                            *ngIf="firstForm.get('firstName')?.hasError('required')"
                            > This field is required
                            </small>
                            <small class="text-danger"
                              *ngIf="firstForm.get('firstName')?.hasError('maxlength')"
                              > Must be less than 45 characters
                            </small>
                        </div>

                </div>

                
                <div class="form-group text-center">
                    <label for="email" class="text-center">Email*</label>
                    <input formControlName="email" type="email" required="required" class="form-control text-center" id="email"
                        placeholder="Enter email">

                        <div *ngIf="firstForm.get('email')?.invalid && (firstForm.get('email')?.dirty || firstForm.get('email')?.touched)">
                            <!-- Greske -->
                            <small class="text-danger"
                            *ngIf="firstForm.get('email')?.hasError('required')"
                            > This field is required
                            </small>
                            <small class="text-danger"
                              *ngIf="firstForm.get('email')?.hasError('maxlength')"
                              > Must be less than 200 characters
                            </small>
                            <small class="text-danger"
                              *ngIf="firstForm.get('email')?.hasError('email')"
                              > Must be email
                            </small>
                        </div>

                </div>
            </div>

            <!-- Account Information -->
            <div class="col-md-6">
                <div class="form-group text-center">
                    <label for="lastName" class="text-center">Last Name*</label>
                    <input formControlName="lastName" type="text" required="required" class="form-control text-center" id="lastName"
                        placeholder="Enter last name">

                        <div *ngIf="firstForm.get('lastName')?.invalid && (firstForm.get('lastName')?.dirty || firstForm.get('lastName')?.touched)">
                            <!-- Greske -->
                            <small class="text-danger"
                            *ngIf="firstForm.get('lastName')?.hasError('required')"
                            > This field is required
                            </small>
                            <small class="text-danger"
                              *ngIf="firstForm.get('lastName')?.hasError('maxlength')"
                              > Must be less than 45 characters
                            </small>
                        </div>

                </div>
                

                <div class="form-group text-center">
                    <label for="username" class="text-center">Username*</label>
                    <input formControlName="username" type="text" required="required" class="form-control text-center" id="username"
                        placeholder="Enter username">

                        <div *ngIf="firstForm.get('username')?.invalid && (firstForm.get('username')?.dirty || firstForm.get('username')?.touched)">
                            <!-- Greske -->
                            <small class="text-danger"
                            *ngIf="firstForm.get('username')?.hasError('required')"
                            > This field is required
                            </small>
                            <small class="text-danger"
                              *ngIf="firstForm.get('username')?.hasError('maxlength')"
                              > Must be less than 45 characters
                            </small>
                        </div>

                </div>
            </div>
        </div>

        <!-- Additional Information -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group text-center">
                    <label for="avatar" class="text-center">Avatar URL</label>
                    <input formControlName="avatar" type="text" class="form-control text-center" id="avatar"
                        placeholder="Enter avatar URL">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group text-center">
                    <label for="city" class="text-center">City*</label>
                    <input formControlName="city" type="text" required="required" class="form-control text-center" id="city"
                        placeholder="Enter city">
                </div>

                <div *ngIf="firstForm.get('city')?.invalid && (firstForm.get('city')?.dirty || firstForm.get('city')?.touched)">
                    <!-- Greske -->
                    <small class="text-danger"
                    *ngIf="firstForm.get('city')?.hasError('required')"
                    > This field is required
                    </small>
                    <small class="text-danger"
                      *ngIf="firstForm.get('city')?.hasError('maxlength')"
                      > Must be less than 100 characters
                    </small>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="form-group text-center">
                <label for="password" class="text-center">Password*</label>
                <input formControlName="password" type="password" required="required" class="form-control text-center"
                    id="password">

                    <div *ngIf="firstForm.get('password')?.invalid && (firstForm.get('password')?.dirty || firstForm.get('password')?.touched)">
                        <!-- Greske -->
                        <small class="text-danger"
                        *ngIf="firstForm.get('password')?.hasError('required')"
                        > This field is required
                        </small>
                        <small class="text-danger"
                          *ngIf="firstForm.get('password')?.hasError('maxlength')"
                          > Must be less than 100 characters
                        </small>
                    </div>

            </div>
        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="col-12 text-center">
                <button [disabled]="firstForm.invalid" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
