
<div id="maindiv" class="d-flex flex-column flex-grow-1 justify-content-center align-items-center">
    <form [formGroup]="firstForm" (ngSubmit)="sendMessage()" style="margin-top: 120px;">
        <div class="form-group">
            <label for="title">Title*</label>
            <input formControlName="title" type="text" required="required" class="form-control" id="title" placeholder="Enter title...">
          </div>
        <div class="form-group">
          <label for="text">Text*</label>
          <input formControlName="text" type="text" required="required" class="form-control" id="text" placeholder="Enter message...">
        </div>
        <button [disabled]="firstForm.invalid" type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

