<div style="margin-top: 10px;" class="container">
  <h1 class="text-center mb-4">Category Subscriptions</h1>
  <div *ngFor="let item of data" class="mb-3 jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Category id: {{ item.id }}</h1>
      <p class="lead">Category name: {{  item.naziv }}</p>
      <hr class="my-4 border-primary">
        <p class="lead">Attributes</p>
        <p *ngFor="let attribute of item.attributes">Name: {{attribute.naziv}} Value: {{attribute.vrijednost}}</p>
        <hr class="my-4 border-primary">
      <button (click)="unsubscribe(item.id)" class="btn btn-primary">UNSUBSCRIBE</button>
    </div>
  </div>

</div>

